<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/phpunit/wp-config.php" />
	</php>

	<testsuites>
		<testsuite name="Plugin">
			<directory prefix="Test" suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
	</coverage>
</phpunit>
